#video {
  border: 2px solid rgba(0, 0, 0, 0.2);
  width: 80%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: red;
}

.warn {
  color: orange;
}

.info {
  color: rgba(255, 255, 255, 0.616);
}

body {
  color: rgba(255, 255, 255, 0.801);
  background: #3c1f49;
  font-family: Roboto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

button{
  background-color: rgb(68, 145, 158);
  border: none;
  color: white;
  width: 40%;
  /* max-width: 200px; */
  padding: 1%;
  margin: 1%;
  font-size: large;
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
}

button:active {
  transform: scale(1.1);
}
button:hover {
  transform: scale(1.1);
}