div#videos {
  width: 80%;
  /* min-height: 2em; */
  min-height: 10em;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 1em;
  /* color: aliceblue;  */
}
video {
  border: 2px solid rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.1);
  width: 80;
  /* max-width: width 300px; */
  border-radius: 10px;
  /* display: grid;
  resize: none;
  overflow: none;
  clip: rect(200, 200, 200, 200); */
  /* display: flexbox; */
  /* margin-left: auto;
  margin-right: auto; */
  /* zoom: 10; */
}

.error {
  color: red;
}

.warn {
  color: orange;
}

.info {
  color: rgba(255, 255, 255, 0.616);
}

body {
  color: rgba(255, 255, 255, 0.801);
  background-color: #3c1f49;
  font-family: Roboto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
a {
  color: white;
  text-decoration: none;
}
a:hover,
a:focus {
  text-decoration: underline;
}

button {
  background-color: rgb(68, 145, 158);
  border: none;
  color: white;
  width: 40%;
  /* max-width: 200px; */
  padding: 1%;
  margin: 1%;
  font-size: 200%;
  border-radius: 10px;
  transition: cubic-bezier();
}
button#start,
button#stop {
  border-radius: 100%;
  width: 2em;
  height: 2em;
}

button:active {
  transform: scale(0.8);
}
button:hover {
  transform: scale(1.2);
}
